Repository MihailStar/starting: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.ts, pug-lint, stylelint

build: изменяет конфигурационные файлы
  .editorconfig
  .eslintrc
  .prettierrc
Due: none

refactor
  create-component.js
  gulp/configuration.js
  gulp/tasks/archive.js
  gulp/tasks/assets.js
  gulp/tasks/base64.js
  gulp/tasks/build.js
  gulp/tasks/build.mjs
  gulp/tasks/clear.js
  gulp/tasks/development.js
  gulp/tasks/fonts.js
  gulp/tasks/images.js
  gulp/tasks/production.js
  gulp/tasks/scripts.js
  gulp/tasks/server.js
  gulp/tasks/sprite.js
  gulp/tasks/styles.js
  gulp/tasks/templates.js
  gulp/tasks/watch.js
  gulpfile.js
  gulpfile.mjs
  webpack.config.js
Due: none

refactor
  src/components/button/button.pug
  src/components/button/button.scss
  src/components/checkbox/checkbox.scss
  src/components/counter/counter.scss
  src/components/counter/counter.ts
  src/components/icon/icon.scss
  src/components/input/input.scss
  src/components/keyboard/button.ts
  src/components/keyboard/keyboard.scss
  src/components/keyboard/keyboard.ts
  src/components/keyboard/scheme.test.ts
  src/components/modal/modal.pug
  src/components/modal/modal.scss
  src/components/modal/modal.ts
  src/components/radio/radio.scss
  src/components/rating/rating.scss
  src/components/rating/rating.ts
  src/components/select/select.scss
  src/components/switch/switch.scss
  src/components/textarea/textarea.scss
  src/index.pug
  src/scripts/main.ts
  src/scripts/utilities/event-emitter.test.ts
  src/scripts/utilities/event-emitter.ts
  src/scripts/utilities/shuffle-array.ts
  src/scripts/utilities/type.ts
  src/styles/grid.scss
  src/styles/main.scss
  src/styles/utilities/value-scale.scss
  src/templates/main.pug
Due: pug-lint, stylelint

build: обновляет пакеты
  package.json
Due: none

build: изменяет конфигурационный файл
  webpack.config.js
Due: none

refactor
  gulp/tasks/scripts.js
  webpack.config.js
Due: none

refactor
  create-component.js
  gulp/tasks/archive.js
  gulp/tasks/assets.js
  gulp/tasks/base64.js
  gulp/tasks/build.js
  gulp/tasks/fonts.js
  gulp/tasks/images.js
  gulp/tasks/scripts.js
  gulp/tasks/sprite.js
  gulp/tasks/styles.js
  gulp/tasks/templates.js
  gulp/tasks/watch.js
  gulpfile.js
Due: none

refactor
  src/components/keyboard/button.ts
  src/components/keyboard/codes.ts
  src/components/keyboard/keyboard.ts
  src/components/keyboard/scheme.ts
  src/scripts/main.ts
  src/scripts/utilities/event-emitter.ts
  src/scripts/utilities/types.ts
Due: none

build: обновляет пакеты
  gulp/tasks/watch.js
  package.json
Due: none

refactor
  gulp/tasks/archive.js
  gulp/tasks/assets.js
  gulp/tasks/base64.js
  gulp/tasks/build.js
  gulp/tasks/clear.js
  gulp/tasks/fonts.js
  gulp/tasks/images.js
  gulp/tasks/sprite.js
  gulp/tasks/styles.js
  gulp/tasks/templates.js
  gulp/tasks/watch.js
  gulpfile.js
  package.json
  src/index.pug
Due: pug-lint

refactor
  src/index.pug
Due: pug-lint

refactor
  tsconfig.json
  webpack.config.js
Due: none

build: изменяет конфигурационный файл
  tsconfig.json
Due: none

build: изменяет конфигурационный файл
  .eslintrc
Due: none

refactor
  src/scripts/main.ts
Due: none

refactor
  src/components/button/button.pug
  src/components/button/button.scss
  src/index.pug
Due: pug-lint, stylelint

feat: добавляет компонент
  src/components/hamburger/hamburger.pug
  src/components/hamburger/hamburger.scss
  src/components/hamburger/hamburger.ts
  src/index.pug
  src/scripts/main.ts
  src/styles/main.scss
  src/templates/main.pug
Due: pug-lint, stylelint

fix: box-shadow -> border
  src/components/button/button.scss
  src/components/checkbox/checkbox.scss
  src/components/counter/counter.scss
  src/components/hamburger/hamburger.scss
  src/components/input/input.scss
  src/components/keyboard/keyboard.scss
  src/components/radio/radio.scss
  src/components/rating/rating.scss
  src/components/select/select.scss
  src/components/switch/switch.scss
Due: stylelint

build: изменяет конфигурационные файлы
  package.json
  tsconfig.json
Due: none

docs
  readme.md
Due: none

build
  .eslintrc
Due: none

build
  .vscode/extensions.json
  .vscode/settings.json
Due: none

build
  .gitignore
Due: none

docs: обновляет документацию
  readme.md
Due: none

build: обновляет пакеты
  .stylelintrc
  package.json
Due: none

build: изменяет конфигурационные файлы
  .htmlhintrc
  tsconfig.json
Due: none

build: изменяет конфигурационные файлы
  .eslintrc
  package.json
  tsconfig.json
Due: none

refactor: добавляет модификаторы доступа
  src/components/counter/counter.ts
  src/components/hamburger/hamburger.ts
  src/components/keyboard/keyboard.ts
  src/components/rating/rating.ts
  src/scripts/utilities/event-emitter.ts
  src/scripts/utilities/make-request.ts
  src/scripts/utilities/storage.ts
Due: none

refactor
  src/scripts/utilities/get-random-int.ts
  src/scripts/utilities/types.ts
Due: none

feat: добавляет утилиту
  src/scripts/utilities/exhaustive-check.ts
Due: none

Path conditions:
  eslint --ext .js,.ts: any of: *.(js|ts)
  pug-lint: any of: *.pug
  stylelint: any of: *.scss
