Repository MihailStar/starting: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, yaspeller, prettier --check, pug-lint, stylelint

refactor: рефакторит шаблоны миксинов button и icon
  src/blocks/button/button.pug
  src/blocks/icon/icon.pug
Due: yaspeller, pug-lint

fix: добавляет настройки JSDoc линтеру eslint-plugin-jsdoc
  .eslintrc
Due: none

feat: добавляет gulp-pugbem плагин
  gulp/gulp-pugbem.js
  gulp/tasks/templates.js
Due: eslint, yaspeller, prettier --check

refactor: рефакторит lang базового шаблона
  src/index.pug
  src/templates/base.pug
Due: yaspeller, pug-lint

fix: изменяет настройку JSDoc линтера eslint-plugin-jsdoc
  .eslintrc
Due: none

refactor: рефакторит lang базового шаблона
  src/templates/base.pug
Due: yaspeller, pug-lint

refactor: форматирует JavaScript в index'ном шаблоне
  src/index.pug
Due: yaspeller, pug-lint

refactor: форматирует JavaScript согласно кодгайду
  gulp/gulp-pugbem.js
Due: eslint, yaspeller, prettier --check

fix: `block-name__elem-name_mod-name_mod-val`
  gulp/gulp-pugbem.js
  gulp/tasks/templates.js
Due: eslint, yaspeller, prettier --check

build: обновляет пакеты
  package.json
Due: none

fix: правит таск deploy
  gulp/tasks/deploy.js
Due: eslint, yaspeller, prettier --check

fix: правит прекоммит хуки
  .lintstagedrc
Due: none

fear: Добавляет правило Stylelint
  .stylelintrc
Due: none

refactor: отбивает блок JavaScript'а строкой
  src/blocks/button/button.pug
  src/blocks/icon/icon.pug
  src/index.pug
Due: yaspeller, pug-lint

refactor: базовый шаблон
  src/templates/base.pug
  src/templates/body.pug
  src/templates/head.pug
  src/templates/utilities.pug
Due: yaspeller, pug-lint

refactor: базовые стили
  src/styles/grid.scss
  src/styles/main.scss
  src/styles/utilities.scss
  src/styles/variables.scss
Due: yaspeller, prettier --check, stylelint

refactor: базовые скрипты
  src/scripts/main.js
  src/scripts/utilities.js
Due: eslint, yaspeller, prettier --check

docs: обновляет документацию
  readme.md
Due: none

fear: добавляет переменную базового размера
  src/styles/variables.scss
Due: yaspeller, prettier --check, stylelint

refactor: рефакторит шаблон миксина icon
  src/blocks/icon/icon.pug
Due: yaspeller, pug-lint

refactor: рефакторит шаблон миксина button
  src/blocks/button/button.pug
Due: yaspeller, pug-lint

refactor: рефакторит стили миксина button
  src/blocks/button/button.scss
Due: yaspeller, prettier --check, stylelint

refactor: рефакторит пример подключения шрифтов
  src/styles/fonts.scss
Due: yaspeller, prettier --check, stylelint

refactor: рефакторит базовые стили
  src/styles/base.scss
Due: yaspeller, prettier --check, stylelint

fear: добавляет мета тег
  src/templates/base.pug
Due: yaspeller, pug-lint

fix: удаляет не используемое изображение
  src/images/favicon.png
Due: none

feat!: удаляет gulp-pugbem плагин
  gulp/gulp-pugbem.js
  gulp/tasks/templates.js
  readme.md
Due: eslint, yaspeller, prettier --check

fix: удаляет gulp-pugbem плагин
  gulp/tasks/templates.js
Due: eslint, yaspeller, prettier --check

feat: добавляет @prettier/plugin-pug плагин
  .pug-lintrc
  package.json
  readme.md
Due: none

refactor: форматирует шаблоны согласно кодгайду
  src/blocks/button/button.pug
  src/blocks/icon/icon.pug
  src/index.pug
  src/templates/base.pug
Due: yaspeller, pug-lint

build: обновляет пакеты, изменяет конфигурационные файлы
  .browserslistrc
  .eslintrc
  .huskyrc
  .prettierrc
  .stylelintrc
  gulp/configuration.js
  package.json
Due: eslint, yaspeller, prettier --check

refactor: форматирует
  gulp/configuration.js
Due: eslint, yaspeller, prettier --check

fix: правит таск templates
  gulp/tasks/templates.js
Due: eslint, yaspeller, prettier --check

fix: выпиливает поддержку IE
  src/blocks/icon/icon.js
  src/scripts/imported-blocks.js
  src/templates/base.pug
Due: eslint, yaspeller, prettier --check, pug-lint

build: откатывает версию stylelint до 12.0.1
  package.json
Due: none

Path conditions:
  eslint: any of: *.js
  yaspeller: ((any of: *.js) or (any of: *.pug)) or (any of: *.scss)
  prettier --check: (any of: *.js) or (any of: *.scss)
  pug-lint: any of: *.pug
  stylelint: any of: *.scss
