Repository MihailStar/starting: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.ts, pug-lint, stylelint

.lintstagedrc:

{
  "*.(js|ts)": "eslint --ext .js,.ts",
  "*.pug": "pug-lint",
  "*.scss": "stylelint"
}

fix: удаляет лишний символ
  src/blocks/components/icon/icon.ts
Due: none

refactor: удаляет префиксы, добавляет дженерик типа
  src/blocks/components/counter/counter.ts
  src/blocks/components/keyboard/keyboard.ts
  src/blocks/components/modal/modal.ts
  src/blocks/components/rating/rating.ts
  src/scripts/utilities/event-emitter.ts
  src/scripts/utilities/storage.ts
Due: none

build: обновляет пакеты
  package.json
Due: none

build: изменяет конфигурационный файл
  .stylelintrc
Due: none

refactor: сортирует утилиты
  src/styles/utilities.scss
Due: stylelint

feat: чтобы было
  src/styles/main.scss
Due: stylelint

fix: откатимся, пока не поднимут версию gulp-postcss gulp-postcss 8.0.0 vs postcss-100vh-fix 1.0.0
  package.json
Due: none

fix: выпиливает поддержку IE 11
  .browserslistrc
  package.json
  src/blocks/components/icon/icon.ts
  src/scripts/main.ts
Due: none

refactor: правит утилиту
  src/styles/utilities.scss
Due: stylelint

build: изменяет конфигурационный файл
  .eslintrc
Due: none

build: изменяет конфигурационный файл
  package.json
  tsconfig.json
Due: none

build: изменяет конфигурационный файл
  package.json
Due: none

style: форматирует
  src/blocks/components/counter/counter.scss
Due: stylelint

build: изменяет конфигурационные файлы
  .eslintrc
  .gitignore
  .postcss-sorting.json
  .prettierrc
  .pug-lintrc
  .stylelintrc
  gulp/tasks/styles.js
  package.json
Due: none

feat: добавляет утилиту
  src/scripts/utilities/make-plural.ts
Due: none

style: форматирует
  src/blocks/components/button/button.pug
  src/blocks/components/checkbox/checkbox.pug
  src/blocks/components/counter/counter.pug
  src/blocks/components/icon/icon.pug
  src/blocks/components/input/input.pug
  src/blocks/components/radio/radio.pug
  src/blocks/components/rating/rating.pug
  src/blocks/components/select/select.pug
  src/blocks/components/switch/switch.pug
  src/blocks/components/textarea/textarea.pug
  src/index.pug
  src/templates/main.pug
Due: pug-lint

refactor
  src/blocks/components/button/button.pug
  src/index.pug
  src/templates/main.pug
Due: pug-lint

style: форматирует
  src/blocks/components/button/button.scss
  src/blocks/components/checkbox/checkbox.scss
  src/blocks/components/counter/counter.scss
  src/blocks/components/icon/icon.scss
  src/blocks/components/input/input.scss
  src/blocks/components/keyboard/keyboard.scss
  src/blocks/components/radio/radio.scss
  src/blocks/components/rating/rating.scss
  src/blocks/components/select/select.scss
  src/blocks/components/switch/switch.scss
  src/styles/main.scss
  src/styles/utilities.scss
Due: stylelint

style: форматирует
  src/index.pug
Due: pug-lint

build: обновляет пакет
  package.json
Due: none

build: обновляет пакеты Мажорные версии
  package.json
Due: none

build: изменяет конфигурационный файл
  webpack.config.js
Due: none

refactor
  src/blocks/components/keyboard/keyboard.ts
  src/blocks/components/keyboard/scheme.test.ts
  src/scripts/utilities/event-emitter.test.ts
  webpack.config.babel.js
Due: none

fix: исправляет косяк рефакторинга
  gulp/tasks/scripts.js
Due: none

refactor
  createBlock.ts
  package.json
  src/blocks/components/keyboard/scheme.test.ts
  src/scripts/utilities/event-emitter.test.ts
  src/scripts/utilities/storage.ts
Due: none

refactor
  src/blocks/components/input/input.scss
  src/index.pug
  src/scripts/utilities/storage.ts
  src/templates/main.pug
  tsconfig.json
Due: pug-lint, stylelint

build: обновляет пакеты, изменяет конфигурации
  .eslintrc
  .husky/pre-commit
  .huskyrc
  .lintstagedrc
  gulp/tasks/styles.js
  package.json
  src/styles/main.scss
  tsconfig.json
Due: stylelint

build:удаляет пакет и обвязку
  .husky/pre-commit
  package.json
Due: none

feat: lint-staged + husky
  .husky/pre-commit
  .lintstagedrc
  package.json
Due: none

refactor
  src/blocks/components/counter/counter.pug
  src/blocks/components/counter/counter.ts
  src/blocks/components/keyboard/button.ts
  src/blocks/components/keyboard/codes.ts
  src/blocks/components/keyboard/keyboard.ts
  src/blocks/components/keyboard/scheme.test.ts
  src/blocks/components/keyboard/scheme.ts
  src/blocks/components/modal/modal.ts
  src/blocks/components/rating/rating.ts
  src/scripts/main.ts
  src/scripts/utilities/classof.ts
  src/scripts/utilities/event-emitter.test.ts
  src/scripts/utilities/event-emitter.ts
  src/scripts/utilities/make-plural.ts
  src/scripts/utilities/storage.ts
Due: pug-lint

docs: обновляет документацию
  readme.md
Due: none

build: переводит сборку на ECMAScript модули Стартует быстрее, так как не требуется транспиляция
  createBlock.mjs
  gulp/configuration.mjs
  gulp/tasks/archive.mjs
  gulp/tasks/base64.js
  gulp/tasks/base64.mjs
  gulp/tasks/build.js
  gulp/tasks/build.mjs
  gulp/tasks/clean.js
  gulp/tasks/clear.mjs
  gulp/tasks/development.js
  gulp/tasks/development.mjs
  gulp/tasks/fonts.mjs
  gulp/tasks/images.js
  gulp/tasks/images.mjs
  gulp/tasks/production.js
  gulp/tasks/production.mjs
  gulp/tasks/scripts.js
  gulp/tasks/scripts.mjs
  gulp/tasks/server.mjs
  gulp/tasks/sprite.js
  gulp/tasks/sprite.mjs
  gulp/tasks/styles.js
  gulp/tasks/styles.mjs
  gulp/tasks/templates.js
  gulp/tasks/templates.mjs
  gulp/tasks/watch.mjs
  gulpfile.babel.js
  gulpfile.mjs
  package.json
  webpack.config.mjs
Due: none

refactor
  src/styles/main.scss
Due: stylelint
