Repository MihailStar/starting: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.ts, pug-lint, stylelint

refactor
  createBlock.mjs
  src/blocks/components/keyboard/keyboard.ts
Due: none

fix: исправляет JSDoc
  createBlock.mjs
Due: none

build: обновляет пакеты
  package.json
Due: none

refactor Возвращает остатки былой роскоши, обернутые комментариям
  createBlock.mjs
Due: none

build: изменяет конфигурационные файлы
  .prettierrc
  .pug-lintrc
Due: none

refactor
  src/blocks/components/button/button.pug
  src/blocks/components/checkbox/checkbox.pug
  src/blocks/components/counter/counter.pug
  src/blocks/components/icon/icon.pug
  src/blocks/components/input/input.pug
  src/blocks/components/radio/radio.pug
  src/blocks/components/rating/rating.pug
  src/blocks/components/select/select.pug
  src/blocks/components/switch/switch.pug
  src/blocks/components/textarea/textarea.pug
  src/index.pug
Due: pug-lint

refactor
  src/blocks/components/button/button.pug
  src/blocks/components/checkbox/checkbox.pug
  src/blocks/components/counter/counter.pug
  src/blocks/components/input/input.pug
  src/blocks/components/radio/radio.pug
  src/blocks/components/rating/rating.pug
  src/blocks/components/select/select.pug
  src/blocks/components/switch/switch.pug
  src/blocks/components/textarea/textarea.pug
  src/index.pug
Due: pug-lint

style: заменяет кавычки
  src/templates/main.pug
Due: pug-lint

refactor
  src/index.pug
  src/templates/main.pug
Due: pug-lint

refactor
  src/blocks/components/checkbox/checkbox.pug
  src/blocks/components/input/input.pug
  src/blocks/components/modal/modal.pug
  src/blocks/components/radio/radio.pug
  src/blocks/components/select/select.pug
  src/blocks/components/switch/switch.pug
  src/blocks/components/textarea/textarea.pug
Due: pug-lint

build
  .browserslistrc
  .htmlhintrc
Due: none

build: изменяет конфигурационные файлы
  .gitignore
  .stylelintrc
  .vscode/tasks.json
  gulp/configuration.mjs
  tsconfig.json
Due: none

style: правит именование
  create-block.mjs
  package.json
Due: none

build: изменяет конфигурационный файл
  package.json
Due: none

docs: обновляет документацию
  readme.md
Due: none

refactor
  src/blocks/components/keyboard/scheme.test.ts
  src/scripts/utilities/event-emitter.test.ts
Due: none

build: изменяет конфигурационный файл
  gulp/configuration.mjs
Due: none

refactor
  create-block.mjs
  src/templates/utilities.pug
Due: pug-lint

feat: добавляет утилиту
  src/scripts/utilities/getRandomInt.ts
Due: none

build: изменяет конфигурационный файл
  .eslintrc
Due: none

style: правит кавычки
  src/blocks/components/button/button.pug
  src/blocks/components/checkbox/checkbox.pug
  src/blocks/components/counter/counter.pug
  src/blocks/components/icon/icon.pug
  src/blocks/components/input/input.pug
  src/blocks/components/radio/radio.pug
  src/blocks/components/rating/rating.pug
  src/blocks/components/select/select.pug
  src/blocks/components/switch/switch.pug
  src/blocks/components/textarea/textarea.pug
  src/index.pug
Due: pug-lint

style: правит кавычки
  src/templates/main.pug
Due: pug-lint

refactor
  src/scripts/utilities/getRandomInt.ts
Due: none

refactor
  src/scripts/utilities/storage.ts
Due: none

style
  gulp/tasks/archive.mjs
  gulp/tasks/base64.mjs
  gulp/tasks/build.mjs
  gulp/tasks/clear.mjs
  gulp/tasks/development.mjs
  gulp/tasks/fonts.mjs
  gulp/tasks/images.mjs
  gulp/tasks/production.mjs
  gulp/tasks/scripts.mjs
  gulp/tasks/server.mjs
  gulp/tasks/sprite.mjs
  gulp/tasks/styles.mjs
  gulp/tasks/templates.mjs
  gulp/tasks/watch.mjs
  src/blocks/components/keyboard/scheme.test.ts
  src/scripts/utilities/event-emitter.test.ts
  webpack.config.mjs
Due: none

feat: добавляет утилиты Для работы с типами
  src/scripts/utilities/type.ts
Due: none

build: заменяет Node Sass на Dart Sass
  gulp/tasks/styles.mjs
  package.json
Due: none

build: изменяет конфигурационный файл
  .htmlhintrc
Due: none

style
  readme.md
Due: none

refactor
  src/scripts/utilities/get-random-int.ts
  src/scripts/utilities/make-plural.ts
  src/scripts/utilities/storage.ts
Due: none

feat: добавляет утилиту
  src/scripts/utilities/is-key-in-object.ts
Due: none

refactor
  src/scripts/utilities/event-emitter.ts
  src/scripts/utilities/storage.ts
  src/scripts/utilities/type.ts
Due: none

refactor
  src/blocks/components/checkbox/checkbox.pug
  src/blocks/components/checkbox/checkbox.scss
  src/blocks/components/counter/counter.pug
  src/blocks/components/counter/counter.scss
  src/blocks/components/radio/radio.pug
  src/blocks/components/radio/radio.scss
  src/blocks/components/rating/rating.pug
  src/blocks/components/rating/rating.scss
  src/blocks/components/select/select.pug
  src/blocks/components/select/select.scss
  src/blocks/components/switch/switch.pug
  src/blocks/components/switch/switch.scss
  src/index.pug
  src/scripts/utilities/classof.ts
  src/templates/main.pug
  src/templates/utilities/get-random-double-id.pug
  src/templates/utilities/get-random-id.pug
  src/templates/utilities/get-random-int.pug
Due: pug-lint, stylelint

refactor
  src/blocks/components/counter/counter.scss
  src/blocks/components/keyboard/keyboard.scss
Due: stylelint

Path conditions:
  eslint --ext .js,.ts: any of: *.(js|ts)
  pug-lint: any of: *.pug
  stylelint: any of: *.scss
