Repository MihailStar/starting: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check, pug-lint, stylelint

Удаляет лишний импорт
  src/styles/main.scss
Due: prettier --check, stylelint

Рефакторит имена скриптов
  README.md
  package.json
Due: none

Обновляет пакеты
  package.json
Due: none

Дополняет ignore опции и ignore файлы + .git/**
  .babelrc
  .eslintignore
  .gitignore
  .prettierignore
  .stylelintignore
Due: none

Фиксирует опечатку
  .babelrc
Due: none

Чарка правок
  README.md
Due: none

Добавляет yaspeller и обвязку yaspeller на основе API Yandex.Speller
  .lintstagedrc
  .yaspellerrc
  README.md
  package.json
Due: none

Переименовывает import-blocks в imported-blocks
  src/scripts/_imported-blocks.js
  src/scripts/main.js
  src/styles/_imported-blocks.scss
  src/styles/main.scss
  src/templates/_base.pug
  src/templates/_imported-blocks.pug
Due: eslint, prettier --check, pug-lint, stylelint

Удаляет сопутствующее ранее удаленному таску libraries
  gulp/configuration.js
Due: eslint, prettier --check

Добавляет fonts.scss с примерами
  src/styles/_fonts.scss
  src/styles/main.scss
Due: prettier --check, stylelint

Рефакторит миксин button
  src/blocks/button/_button.pug
  src/blocks/button/button.pug
  src/blocks/button/button.scss
Due: prettier --check, pug-lint, stylelint

Рефакторит миксин icon
  src/blocks/icon/_icon.js
  src/blocks/icon/_icon.pug
  src/blocks/icon/icon.js
  src/blocks/icon/icon.pug
Due: eslint, prettier --check, pug-lint

Удаляет префикс из названия файлов
  src/index.pug
  src/scripts/_imported-blocks.js
  src/scripts/imported-blocks.js
  src/scripts/main.js
  src/styles/_imported-blocks.scss
  src/styles/base.scss
  src/styles/fonts.scss
  src/styles/grid.scss
  src/styles/imported-blocks.scss
  src/styles/main.scss
  src/styles/mixins.scss
  src/styles/variables.scss
  src/templates/_base.pug
  src/templates/_imported-blocks.pug
  src/templates/base.pug
  src/templates/body.pug
  src/templates/head.pug
  src/templates/imported-blocks.pug
Due: eslint, prettier --check, pug-lint, stylelint

Добавляет быстрый вызов задачи сборки векторного спрайта
  README.md
  package.json
Due: none

Добавляет директорию блоков в задачу сборки изображений
  gulp/configuration.js
Due: eslint, prettier --check

Дополняет документацию
  README.md
Due: none

Рефакторит документацию
  readme.md
Due: none

Рефакторит миксины button и icon
  src/blocks/button/button.pug
  src/blocks/icon/icon.pug
Due: pug-lint

Удаляет libraries директории
  readme.md
  src/scripts/libraries/.gitkeep
  src/styles/libraries/.gitkeep
Due: none

Изменяет сокращенную запись hex цвета на полную
  .stylelintrc
  src/blocks/button/button.scss
  src/styles/variables.scss
Due: prettier --check, stylelint

Добавляет переменную акцентного цвета
  src/blocks/button/button.scss
  src/styles/variables.scss
Due: prettier --check, stylelint

Добавляет переменные цвета текста
  src/blocks/button/button.scss
  src/styles/base.scss
  src/styles/variables.scss
Due: prettier --check, stylelint

Изменяет цвет favicon'а на акцентный
  src/images/favicon.png
Due: none

Дополняет базовые стили
  src/styles/base.scss
Due: prettier --check, stylelint

Добавляет правила Stylelint
  .stylelintrc
Due: none

Рефакторит стили миксина button, согласно stylelint
  src/blocks/button/button.scss
Due: prettier --check, stylelint

Изменяет тип source maps
  webpack.config.babel.js
Due: eslint, prettier --check

build: update packages to current
  package.json
Due: none

style: add two ESLint rules quotes, valid-jsdoc
  .eslintrc
Due: none

feat: add JSDoc linting eslint-plugin-jsdoc
  .eslintrc
  package.json
Due: none

Path conditions:
  eslint: any of: *.js
  prettier --check: (any of: *.js) or (any of: *.scss)
  pug-lint: any of: *.pug
  stylelint: any of: *.scss
